ManualConnectionDialog {
    height: 100%;
    margin: 4 8;
    background: $panel;
    color: $text;
    border: tall $background;
    padding: 1 2;
}

KeyValueInput {
  & Button {
    margin: 0;
    border-left: vkey $surface-darken-1;
    border-right: none;

    &:hover {
      border-left: vkey $surface-darken-1;
      border-right: none;
    }
  }
}

Button {
  padding: 0 1;
  height: 1;
  border: none;
  background: $panel;

  &:disabled {
    opacity: 40%;
  }
}

Select {
  padding: 0 1;
  height: 3;
  border: none;
  /* color: $panel; */

  &:disabled {
    opacity: 40%;
  }
}

.short {
    /* border: none; */
    width: 1;
    /* width: 5%; */
    /* height: 3; */
    /* margin: 0 -3; */
}

.sidebar {
    width: 40%;
    dock: right;
    background: $panel;
}

.container {
    height: auto;
    width: auto;
    margin: 0 1;
}

.container-horizontal-fill {
    width: 100%;
    height: auto;
}

.outlined-container-horizontal-fill {
    width: auto;
    height: auto;
    min-width: 95%
}

.container-25 {
    width: auto;
    height: auto;
    max-width: 30%;
    min-width: 25%;
    background: $accent;
}

.container-15 {
    width: 15%;
    height: auto;
}

.accent-container {
    height: auto;
    width: auto;
    background: $panel;
}

.label {
    height: auto;
    width: auto;
    padding: 1 1;
    align: center middle;
}

.centered-subtitle {
    height: auto;
    width: auto;
    padding: 1 1;
    align: center middle;
    text-align: center;
    text-style: bold;
}

.inline-label {
    max-height: 2;
    width: auto;
}

.inline-right {
    max-height: 3;
    width: auto;
    max-width: 10;
    align-horizontal: right;
}

.inline-left {
    max-height: 3;
    width: auto;
    max-width: 10;
    align-horizontal: left;
}

.inline-select {
    max-width: 30%;
    min-width: 20;
}

#sweep-creator-controls {
    padding: 1 0;
}

.inline {
    width: 1fr;
    min-width: 15;
}

.short-listitem {
    height: auto;
    min-height: 3;
    max-height: 6;
}

.field {
    content-align: center middle;
}

.confirmation {
    height: auto;
    width: 90%;
    align-horizontal: center;
    margin: 0 1;
    dock: bottom;
}

.info {
    width: auto;
    height: auto;
    padding: 1 2;
    background: $panel-darken-1;
}

#main-menu-grid {
    layout: grid;
    grid-size: 2;
    grid-columns: 1fr;
    grid-rows: 1fr;
}

#inst-list{
    height: 100%;
    background: $panel;
}

SplashScreen {
    align: center middle;
}

ManualConnectionDialog {
    align: center middle;
}

#left-top {
    /* align: left top; this is the default value and is implied. */
}

#center-top {
    align: center top;
}

#right-top {
    align: right top;
}

#left-middle {
    align: left middle;
}

#center-middle {
    align: center middle;
}

#right-middle {
    align: right middle;
}

#left-bottom {
    align: left bottom;
}

#center-bottom {
    align: center bottom;
}

#right-bottom {
    align: right bottom;
}

#dialog {
    grid-size: 2;
    grid-gutter: 1 2;
    grid-rows: 1fr 3;
    padding: 0 1;
    width: 80;
    height: 16;
    border: thick $background 80%;
    background: $surface;
}

#short-container {
    height: 25%;
}

.title {
    column-span: 2;
    height: 2;
    margin: 1 1;
    text-style: bold;
    width: 100%;
    content-align: center middle;
}

.tooltip {
    width: auto;
    height: auto;
    max-width: 5;
    max-height: 3;
    dock: right;
    margin: 0 1;
    background: $accent;
}

.centered-widget {
    height: auto;
    margin-left: 1;
    margin-right: 1;
    align-horizontal: center;
}

.right-aligned-widget {
    height: auto;
    margin-left: 1;
    margin-right: 1;
    align-horizontal: right;
}

.outlined-container {
    border: round white 10%;
    width: auto;
    height: auto;
}

.outlined-container-horizontal-fill {
    border: round white 10%;
    width: 95%;
    height: auto;
}

/*Parameters Screen*/
.read {
    color: #00a400;
}

.write {
    color: #F05D23;
}

/*Temperature controller screen*/
#heater-mode-container {
    width: auto;
    height: auto;
}

#output-range-container {
    width: auto;
    height: auto;
}

#PID-container {
    width: auto;
    height: auto;
}

#refresh-stats-button {
    max-width: 7;
    max-height: 3;
    height: auto;
    width: auto;
}

#temperature-controller-status {
    dock: right;
    width: auto;  /* Fixed width instead of fractional */
    min-width: 30;
    max-width: 40;
    background: $panel;  /* Light gray background, you can change this */
    padding: 2 1;
}

.temperature-controller-controls {
    height: auto;
    width: auto;
    border: round white 10%;
    align-horizontal: center;
    content-align: center middle;
}

.inline {
    width: auto;
    height: 3;
    margin: 0;
    /* padding: 0 1; */
}

/*Measurements and Sweeps*/
#sweep-creator {
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 95%;
    margin: 3;
    background: $surface;
    border: round white 10%;
}
